body {
    margin: 0px;
    padding: 0px;
    font-family: arial, Verdana;
}


#page {
    width: 1200px;
    border: 1px solid black;
    border-style: none solid none solid;
    margin: 0 auto;
    padding: 5ex;
}

#canvas {
    border: 1px solid black;
    border-radius: 15px;
    width: 1100px;
    height: 750px;
    margin: 0 auto;
}
