
button {
	-webkit-appearance: none;
	appearance: none;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	border-radius: 16px;
	padding: 2px 10px 3px 10px;
	min-width: 32px;
	margin: 2px;
}
button.first {
	border-radius: 16px 0 0 16px;
	margin-right: 0px
}
button.last {
	border-radius: 0 16px 16px 0;
	margin-left: -1px;
}
button.next {
	border-radius: 0;
	margin-left: -1px;
	margin-right: 0px;
}
button.select {
	width: 63px;
}
input {
	-webkit-appearance: none;
	appearance: none;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	max-width: 60px;
	padding: 2px 0 4px 4px;
	margin: 2px;
	text-align: bottom;
}
input.Checkbox {
	width: 21px;
	height: 22px;
	overflow: hidden;
}
input.Checkbox:checked:after {
	content: '\2715';
}

input.Checkbox:after {
	content: '';
}

select {
	border-radius: 2px;
}

.Slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 2px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #F0FCFF;
  cursor: pointer;
}

.Slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #F0FCFF;
  cursor: pointer;
}

.SelectView {
	margin: 0px;
	padding: 0px;
}

.SelectView label{
	margin: 0px;
	padding: 0px;
	min-height: 40px;
}

#specimen_tree {
	position: relative;
}

#specimen_tree .Col1 {
	position: absolute;
	left: 140px;
}

#specimen_tree .Col2 {
	position: absolute;
	left: 280px;
}