#groups {
	display: flex;
	height: 25ex;
}

.ProfileGroup {
	display: inline-block;
	height: 100%;
	margin-right: 6ex;
}
.Profile {
	padding-left: 0ex;
}
.Profile button{
	margin-top: 2ex;
	
}

input[type=text] {
	width: 20ex;
	max-width: none;
}

#popup_screen {
	position: absolute;
	top: 60px;
	right: 20%;
	display: none;
	width: 50%;
	height: 770px;
	margin: 0 auto 0 auto;
	padding: 10ex;
	background-color: white;
	opacity: 0.9;
	border: 1px solid black;
	color: black;
}

#popup_screen form input,textarea {
	background-color: white;
	border: 1px solid black;
	color: black;
}

.Selected {
	mix-blend-mode: hard-light;
	opacity: 0.75;
}


#groups .Selected {
	border: 1px solid white;
	border-radius: 5px;
}

#groups button.Selected.first {
	border-radius: 16px 0 0 16px;
}

#groups button.Selected.last {
	border-radius: 0 16px 16px 0;
}

.Profile label {
	max-width: 140px;
}

label.Selected {
	font-weight: bold;
	font-variant: small-caps;
	opacity: 0.75;
	background-color: white;
	color: #003;
	padding-left: 1ex;
	padding-bottom: 0.5ex;
	border-radius: 5px;
	display: inline-block;
	max-width: 140px;
}

label.Selected::after {
	content:  "  «" /* "» " */;
	white-space: pre;
	line-height: 0px;
}