body {
    font-family: arial, verdana;
    margin: 0px;
    padding: 0px;
    background-color: #DDD;
}

#page {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    border-style: none solid;
    width: 1200px;
    padding: 10ex;
}

#canvas {
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid black;
}
